.login-container{
  max-width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.login-btn{
  width: 20%;
  height: 40px;
  font-size: 20px;
  background-color: aliceblue;
  color: rgb(40, 40, 247);
  border: 2px solid black;
}
.logout-btn{
  width: 10%;
  height: 40px;
  font-size: 20px;
  background-color: black;
  color: white;
}
